<!DOCTYPE html>
<html>

<head>
    <%- include("../partials/head.ejs") %>
</head>

<!--class="grey darken-4"-->

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <div class="intro deep-orange accent-2 z-depth-1">
            <h1 class="grey-text text-lighten-3">Robert Fent</h1>
            <h5 class="grey lighten-3 grey-text text-darken-4">web developer and computer science student</h5>
        </div>
        <div class="container about">
            <h5>about this website and me</h5>
            <hr>
            <div class="row">
                <div class="col s12 m4 l4">
                    <h6>Hello from Deno!</h6>
                    <div class="website-description">
                        <img src="./assets/deno_logo.svg" width="150" />
                        <p>
                            The backend of this website is written in <a href="https://deno.land/">Deno</a>.
                            This is a JavaScript runtime with built-in TypeScript support using <a href="https://v8.dev/">V8</a>.
                            Deno is built in Rust and was created by Ryan Dahl (the former creator of <a href="https://nodejs.org/en/">NodeJS</a>).
                        </p>
                        <p>
                            The frontend is written in <a href="https://ejs.co/">EJS</a>. It's a simple templating langague where you can generate HTML with JavaScript.
                            The HTML is then rendered by an ejs render engine in Deno.
                        </p>
                        <p>
                            To save the entries in the visitors book the backend is using a <a href="https://www.mongodb.com/">MongoDB</a>.
                        </p>
                        <p>
                            The Deno application and the database run both in separate <a href="https://www.docker.com/">docker</a> containers to make the setup as simple and fast as possible on multiple different architectures.
                        </p>
                        <p>
                            This website runs on my VPS which is based in Frankfurt and is exposed by <a href="https://doc.traefik.io/">Traefik</a>, a reverse proxy and load balancer for a easy deployment of microservices.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <h6>profile</h6>
                    <div class="profile card deep-orange accent-2 z-depth-1">
                        <div class="card-content white-text">
                            <img src="./assets/me.png" width="100">
                            <table class="responsive-table">
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td>Robert</td>
                                    </tr>
                                    <tr>
                                        <td>Age</td>
                                        <td>23</td>
                                    </tr>
                                    <tr>
                                        <td>Employment</td>
                                        <td>Student</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-action">
                            <a href="https://github.com/RobertFent">Check out my Github</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <h6>my story</h6>
                    <div class="story">
                        <p class="h7">Background</p>
                        <p>
                            Hello, my name is Robert. I am 23 years old and have a bachelor's degree in media informatics. This winter I will start the master in computer science.
                        </p>
                        <p class="h7">IT Experience</p>
                        <p>
                            tbd
                        </p>
                        <p class="h7">Projects</p>
                        <p>
                            tbd
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <h6>Don't forget to check out the <a href="/visitors_book">visitors book</a></h6>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>