<!DOCTYPE html>
<html>

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <div class="intro deep-orange accent-2 z-depth-1">
        <h1 class="grey-text text-lighten-3">Robert Fent</h1>
        <h5 class="grey lighten-3 grey-text text-darken-4">web developer and computer science student</h5>
      </div>
    <div class="container about">
        <h5>about me and this website</h5>
        <hr>
        <div class="row">
            <div class="col s12 m4 l4">
                <h6>how this website was build</h6>
            </div>
            <div class="col s12 m4 l4">
                <h6>profile</h6>
            </div>
            <div class="col s12 m4 l4">
                <h6>my story</h6>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Hello from Deno!</h3>
        <img src="./assets/deno_logo.svg" width="150" />
    </div>
</body>

</html>