<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <div class="container">
        <h1>Visitors Book</h1>
    </div>
  </body>
</html>