version: '3.8'

services:
  mongodb:
    image: mongo:4.4-bionic
    container_name: my-mongodb
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - mongodb:/data/db
      - mongoconfig:/data/configdb
    networks:
      - mongo_net
  mydenowebsite:
    image: deno-website
    container_name: my-deno-website
    ports:
        - 8080:8080
    volumes:
      - ./logs/:/myDenoWebsite/logs
    networks:
      -  mongo_net

volumes:
  mongodb:
  mongoconfig:

networks:
  mongo_net:
    driver: bridge
