<nav>
    <div class="nav-wrapper nav-header">
        <!--
        <a href="#" class="brand-logo right"><img src="./assets/logo_trans_background.png"/></a>
        -->
        <ul class="left">
            <li><a href="/">Home</a></li>
            <li><a href="/visitors_book">Visitors book</a></li>
        </ul>
        <img class="right" src="./assets/logo_trans_background.png"/>
    </div>
</nav>