<nav>
    <div class="nav-wrapper nav-header">
        <!-- insert cookie banner
        <script id="CookieDeclaration" src="https://consent.cookiebot.com/3faf9d6a-b7d3-4703-90b2-e175056c17fd/cd.js" type="text/javascript" async></script>
        -->
        <!--
        <a href="#" class="brand-logo right"><img src="./assets/logo_trans_background.png"/></a>
        -->
        <ul class="custom-left">
            <li><a href="/">Home</a></li>
            <li><a href="/visitors_book">Visitors Book</a></li>
            <li><a href="/privacy_policy">Privacy Policy</a></li>
        </ul>
        <img class="right" src="./assets/logo_trans_background.png" />
    </div>
</nav>