<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Roberts Website</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- IMPORTANT: path is relative to given path in middleware-->
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="../assets/materialize.css">
<!-- My css-->
<link rel="stylesheet" href="../assets/style.css">
<!-- jquery is need for materialize to function-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="../js/materialize.js"></script>
<!-- icon leftside of tab name-->
<link rel="shortcut icon" href="../assets/logo_trans_background.png">
<!-- enable cookie bot-->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="3faf9d6a-b7d3-4703-90b2-e175056c17fd" data-blockingmode="auto" type="text/javascript"></script>