body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* split website in three parts */
.top-section {
    width: 100vw;
    height: 5vh;
    top: 0; /* set top to 0 and pos to fixed to make top section sticky */
    position: fixed;
    z-index: 999; /* ridiculous high z-index to prevent any element from overlapping on top section*/
}

.mid-section {
    margin-top: 5vh; /* margin 5 to not overlap with top 0 content */
    height: 90vh;
    width: 100vw;
    margin-bottom: 5vh; /* margin 5 to not overlap with bot 0 content */
}

.bot-section {
    height: 5vh;
    width: 100vw;
    bottom: 0; /* set bot to 0 and pos to fixed to make bot section sticky */
    position: fixed;
}

/* header stuff */

/* make sure top sections stays 5vh and image fits as expected */
.top-section nav {
    height: inherit;
}

/* ul stuff below to center text in navbar -> probably dumb way to do so */
.nav-header ul {
    height: inherit;
}

.nav-header ul li {
    display: table;
    height: inherit;
}

.nav-header ul li a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.nav-header img {
    height: inherit;
    width: auto;
    object-fit: contain;
    padding-right: 1%; /* pad image nicely */
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}

/* footer stuff*/
.versionTag {
    padding-left: 5vw;
    padding-top: 2vh;
}

/* style for main content of home page */

/* Robert Fent card */
.intro {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
    height: 20vh;

    display: flex; /* use flexbox to center content nicely */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro h5 {
    text-transform: uppercase;
    padding: 0.5%;
    font-size: 1.2em;
}

/* main part of main page */
.about {
    margin: 0 auto;
    width: 90vw;
    height: 60vh;
}

.about-row {
    display: block;
    height: inherit;
    text-align: center;
}

.about h5 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1%;
}

.about h6 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1%;
}

/* define own h7 */
.h7 { 
    display: block;
    font-size: .64em;
    margin-top: 2.4em;
    margin-bottom: 2.4em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;    
}

.about .h7 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1%;
}

.about-content {
    height: inherit;
}

/* left part with scrollable content */
.website-description {
    height: 70%;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden; /* hide bottom scrollbar*/
}

/* middle part */

/* wrapper class to center element vertically in its parent */
.centered-in-parent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 100%;
    height: 90%;
    text-align: center;
}

/* right part */
.story {
    height: inherit;
    padding-top: 5vh;
}

.story-content {
    height: 90%;
    overflow: scroll;
    overflow-x: hidden; /* hide bottom scrollbar*/
}

/* style for elements in visitors book below */

/* card for header */
.header-card {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
    height: 15vh;
}

/* card for user input */
.form-card {
    margin-left: 20%;
    margin-right: 20%;
}

/* wrapper element for main content of visitor book site */
.visitors-book {
    height: 70vh;
    width: inherit;
}

.visitor-book-head h5{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1%;
}

.visitor-table tbody{
    display: block;
    height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.visitor-table thead, .visitor-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.visitor-table table {
    width: 100%;
}

/* style for elements in privacy content below */
.privacy-content {
    height: inherit;
    width: inherit;
    overflow-x: scroll;
    overflow-x: hidden;
    padding: 5%;
    padding-top: 0;
}

.privacy-content h1 {
    margin: 0;
    margin-top: 2%;
}

/* change style of scrollbars */
/* width */
::-webkit-scrollbar {
    width: 0.33vw;
    height: 5vh;
}

/* draggable handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}


/* overwrite some values on non mobile phones and screens with less or equal then 1080px height (<= full hd) */
@media screen and (min-height: 601px) and (max-height: 1080px) {

    /* make nav bar a little bit greater on smaller monitors*/
    .top-section {
        width: 100vw;
        height: 7vh;
        top: 0; /* set top to 0 and pos to fixed to make top section sticky */
        position: fixed;
    }

    .mid-section {
        margin-top: 7vh; /* margin 5 to not overlap with top 0 content */
        height: 88vh;
        width: 100vw;
    }

    /* make intro card little bit smaller and lower size of h1 and h5 */
    .intro {
        height: 15vh;
    }

    .intro h1 {
        font-size: 3em;
    }

    .intro h5 {
        padding: 0.25%;
        font-size: 1em;
    }
}

/* mobile phones */
@media screen and (max-width: 600px) {

    /* line height to zero to let ul stay centered*/
    .top-section nav {
        line-height: 0;
    }
    
    .nav-header ul{
        height: 100%;
        width: 70%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .nav-header li{
        zoom: 1;
    }

    /* do not display footer (makes problems on mobile phones, sticky footer problem)*/
    .bot-section {
        display: none;
    }

    /* increase size of top card */
    .intro {
        height: 30vh;
    }

    /* remove margin from header to let sub header fit into card */
    .intro h1 {
        margin: 0;
        margin-top: 2%;
    }

    .about-row {
        height: 85vh;
    }

    /* make image smaller */
    .about-content img {
        max-width: 100px;
    }

    /* reduce size of description to not overlap with profile section */
    .website-description {
        height: 70%;
    }

    /* disable bottom line */
    .bottom-line {
        display: none;
    }

    /* set width to max and render as table to vertically center h1 */
    .header-card {
        width: 100vw;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    /* set margin to 0 and reduce font size*/
    .header-card h1 {
        margin: 0;
        font-size: 4em;
    }

    /* make form card bigger */
    .form-card {
        margin-left: 5%;
        margin-right: 5%;
    }

    .privacy-content h1 {
        font-size: 3em;
    }

    .privacy-content h2 {
        margin: 0;
    }
}