# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno and run tests across stable builds Ubuntu.
# For more information see: https://github.com/denoland/setup-deno

name: Deno

on:
  push:
    branches: [develop, master]
  pull_request:
    branches: [develop, master]

jobs:
  launch-server:
    runs-on: ${{ matrix.os }} # runs build on Ubuntu

    # only use one version on ubuntu but let strategy be there for maybe later changes
    strategy:
      matrix:
        deno: ["v1.11.3"]
        os: [ubuntu-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ matrix.deno }} # setup deno with given version

      - name: Setup .env
        run: cp ./example_envs/.env_mongo_network .env

      # Uncomment this step to verify the use of 'deno fmt' on each commit.
      # - name: Verify formatting
      #   run: deno fmt --check

      - name: Run linter
        run: deno lint --ignore=frontend/

      - name: Cache dependencies
        run: ./scripts/cache.sh -t

      - name: Launch server
        run: ./scripts/launch_website.sh

      # - uses: actions/upload-artifact@v2
      #   with:
      #     name: cache-deps
      #     path: $HOME/.cache/deno/deps/

  tests:
    needs: launch-server
    runs-on: ubuntu-latest

    # only use one version on ubuntu but let strategy be there for maybe later changes
    strategy:
      matrix:
        deno: ["v1.11.3"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ matrix.deno }} # setup deno with given version
      
      - name: Run tests
        run: deno test -A --unstable